body
{
    font-family: Buxton sketch;
    font-size: 16pt;
    color: white;
    background-color: blue;
}
div.menu_tlo{
    height: 25%;
    width: 90%;
    background: green;
}
div.strona{
    height:450px;
    width:90%
    background:green;
}
div.stopka{
    height:50px;
    width: 90px;
    background: red;
}   
